h1 {
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

.robots {
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
}

.head,
.left_arm,
.torso,
.right_arm,
.left_leg,
.right_leg {
  background-color: #5f93e8;
}

.head {
  width: 200px;
  margin: 0 auto;
  height: 150px;
  border-radius: 200px 200px 0 0;
  margin-bottom: 10px;
}

.eyes {
  display: flex;
}

.upper_body {
  width: 300px;
  height: 150px;
  display: flex;
}

.left_arm,
.right_arm {
  width: 40px;
  height: 125px;
  border-radius: 100px;
}

.left_arm {
  margin-right: 10px;
}

.right_arm {
  margin-left: 10px;
}

.torso {
  width: 200px;
  height: 200px;
  border-radius: 0 0 50px 50px;
}

.lower_body {
  width: 200px;
  height: 200px;
  margin: 0 auto;
  display: flex;
}

.left_leg,
.right_leg {
  width: 40px;
  height: 120px;
  border-radius: 0 0 100px 100px;
}

.left_leg {
  margin-left: 45px;
}

.right_leg {
  margin-left: 30px;
}

.left_eye,
.right_eye {
  width: 20px;
  height: 20px;
  border-radius: 15px;
  background-color: white;
}

.left_eye {
  position: relative;
  top: 100px;
  left: 40px;
}

.right_eye {
  position: relative;
  top: 100px;
  left: 120px;
}
.pack{
  width: 25px; 
  height: 20px;
  background-color: blue;
  box-shadow: 1px 1px 4px rgba(0,0,0,0.5);
  opacity: 0.3;
}

.packs{
  width: 55px; 
  height: 75px;
  display: grid;
  grid-template-columns: 25px 25px;
  grid-column-gap: 5px; 
  grid-row-gap: 5px;
  margin: 70px auto;
}

.first{
    border-radius: 7px 3px 3px 5px;
}
.second{
    border-radius: 3px 7px 3px 3px;
}
.third,.fourth{
  border-radius: 3px;
}
.fifth{
  border-radius: 3px 3px 3px 7px;
}
.sixth{
  border-radius: 3px 3px 7px 3px;
}

/* Jumping Jacks Move */
.right_arm{
  transform-origin: top;
  animation: rotateArmRight 0.5s infinite alternate;
}
.left_arm{
  transform-origin: top;
  animation: rotateArmLeft 0.5s infinite alternate;
}
.right_leg{
  transform-origin: top; 
  animation: rotateLegRight 0.5s infinite alternate;
}
.left_leg{
  transform-origin: top; 
  animation: rotateLegLeft 0.5s infinite alternate;
}

.torso{
  animation: shiftUp 0.5s infinite  alternate; 
}
.head{
  animation: shiftUp 0.5s infinite  alternate;
}  

@keyframes shift{
  
}

@keyframes rotateArmRight{
  0%{
    transform:rotate(-140deg);
  } 
}

@keyframes rotateArmLeft{
  0%{
    transform:rotate(140deg);
  } 
}

@keyframes rotateLegRight{
  0%{
    transform:rotate(-20deg);
  } 
}  

@keyframes rotateLegLeft{
  0%{
    transform:rotate(20deg);
  } 
}

@keyframes shiftUp{
  0%{
    transform: translateY(-20px);  
  }
}



.left_arm:hover{
  transform: rotate(45deg);
}
.right_arm:hover{
  transform: rotate(30deg);
  transition: 1s ease-in;
}

.head:hover{
  transform: translateY(-20px) skew(20deg);
  transition: 0.5s linear;
}

.lower_body:hover{
  transform: skewX(20deg);
  transition: 1s ease-in-out;
}

.upper_body:hover{
  transform: skew(15deg);
}

.torso:hover{
  transform: rotate(360deg);
  transition: 1s;
}
.eyes:hover{
  transform: translate(10px,10px); 
  transition: 1s linear;
}