h1 {
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

.robots {
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
}

.head,
.left_arm,
.torso,
.right_arm,
.left_leg,
.right_leg {
  background-color: #5f93e8;
}

.head {
  width: 200px;
  margin: 0 auto;
  height: 150px;
  border-radius: 200px 200px 0 0;
  margin-bottom: 10px;
}

.eyes {
  display: flex;
}

.upper_body {
  width: 300px;
  height: 150px;
  display: flex;
}

.left_arm,
.right_arm {
  width: 40px;
  height: 125px;
  border-radius: 100px;
}

.left_arm {
  margin-right: 10px;
}

.right_arm {
  margin-left: 10px;
}

.torso {
  width: 200px;
  height: 200px;
  border-radius: 0 0 50px 50px;
}

.lower_body {
  width: 200px;
  height: 200px;
  margin: 0 auto;
  display: flex;
}

.left_leg,
.right_leg {
  width: 40px;
  height: 120px;
  border-radius: 0 0 100px 100px;
}

.left_leg {
  margin-left: 45px;
}

.right_leg {
  margin-left: 30px;
}

.left_eye,
.right_eye {
  width: 20px;
  height: 20px;
  border-radius: 15px;
  background-color: white;
}

.left_eye {
  position: relative;
  top: 100px;
  left: 40px;
}

.right_eye {
  position: relative;
  top: 100px;
  left: 120px;
}
/*
.left_arm:hover{
  transform:  translate(-40px, -60px) rotate(120deg) ;
  transition: all 1s;
}
.right_arm:hover{
  transform:translate(40px, -60px) rotate(-120deg);
  transition: all 1s;
} 
*/
.left_arm{
  animation: wave_left 1.5s infinite;
}
@keyframes wave_left {
  0% {
  transform:rotate(0deg) ;
  }
  100% {
  transform:  translate(0px, -40px) rotate(120deg) scale(0.9) ;
   background-color:  rgb(84, 173, 84);;  
}
}
.right_arm{
  animation: wave_right 1.5s infinite;
}@keyframes wave_right {
  0% {
  transform:rotate(0deg) ;
  }
  100% {
  transform:  translate(0px, -40px) rotate(-120deg) scale(0.9) ;
  background-color: rgb(84, 173, 84);;
}
}
.right_eye{
  animation: eye 1.5s infinite;
}
.left_eye{
animation: eye 1.5s  infinite;
}
@keyframes eye {
  0% {
  transform: translate(0px);
  }
  100% {
height: 0px;
transform: translate(0px,7.5px) scale(1.6); 
  }
}
.head{
  animation:head 1.5s infinite;
}
@keyframes head{
  0% {
transform: translate(0px);
  }
  100% {
transform: translate(0px,0px) scale(0.9);
background-color:  rgb(84, 173, 84);;
  }
}
.torso{
  animation:torso 1.5s infinite;
}
@keyframes torso{
  0%{
transform: translate(0px);
  }
  100%{
    transform: translate(0px,10px) scale(0.9);
    background-color: rgb(84, 173, 84);;
  }
}
.left_leg{
animation: left_leg 1.5s infinite;
}
.right_leg{
animation: right_leg 1.5s infinite;
}
@keyframes left_leg{
  0%{
transform: translate(0px);
  }
  100%{
    transform: translate(0px,-10px)  rotate(25deg) scale(0.9);
    background-color:  rgb(84, 173, 84);;
  }
}
@keyframes right_leg{
  0%{
transform: translate(0px);
  }
  100%{
    transform: translate(0px,-10px)  rotate(-25deg) scale(0.9);
    background-color: rgb(84, 173, 84);
  }
}